* {
    box-sizing: border-box;
  }
  
  /* Style the html */
  html {
    font-family: Arial;
    margin: 0;
    font-size:16px;
  }
  
  /* Header/logo Title */
  .header {
    padding: 20px;
    text-align: center;
    background: lightskyblue;
    color: white;
    font-size: 1.2rem;
  }
  
  /* Style the top navigation bar */
  .navbar {
    display: flex;
    background-color: #333;
  }
  
  /* Style the navigation bar links */
  .navbar a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    flex: 25%;
    font-size: 1.2vw;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Column container */
  .row {  
    display: flex;
    flex-wrap: wrap;
  }
  .row p{
      font-size: 1.2rem;
  }
  .row span{font-weight:bold; color:navy;}
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  .side {
    flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
  }
  
  /* Main column */
  .main {
    flex: 70%;
    background-color: white;
    padding: 20px;
  }
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    font-size: 1.5rem;
  }
  
  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row, .navbar {   
      flex-direction: column;
    }
    .navbar a{font-size:1.2rem;}
    .row p{font-size:1.25rem;}
    .hidden{
        display:none;
    }
  }